.page {
  min-height: 100svh;
}

.header .title {
  font-size: xx-large;
  font-weight: 700;
  padding: 5px 15px;
}

.cats {
  display: flex;
  flex-direction: row;
  justify-items: center;
  padding: 0px 15px 10px;
  gap: 10px;
}

.cats .cat {
  padding: 10px;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  background-color: #404040;
  color: #fff;
  font-size: large;
  font-weight: 600;
}

.cats .cat_active {
  background-color: #304080;
}

.footer {
  padding: 20px;
}
